[tool.poetry]
name = "t-rex"
version = "2024.0.0"
description = "A Python project that generates a structured format for REX events and an HTML file that can get converted into a booklet"
authors = ["Cameron Kleiman <ckleiman@mit.edu>"]
readme = "README.md"
homepage = "https://rex.mit.edu/"
repository = "https://github.com/mit-dormcon/t-rex"
packages = []
package-mode = false

[tool.poetry.dependencies]
python = "^3.12"
Jinja2 = "^3.1.4"
markdown = "^3.7"
python-frontmatter = "^1.1.0"
tzdata = "^2024.2"

[tool.poetry.group.dev.dependencies]
black = "^24.10.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
