.page {
  break-before: page;
}

body {
  background-color: #ffffff;
  font-family: "Noto Sans", "Noto Emoji", sans-serif;
}

.main-title {
  font-weight: bold;
  font-size: 48pt;
}

.qrcode {
  width: 300px;
  height: unset;
  aspect-ratio: 1 / 1;
  margin-top: 0vh;
  margin-bottom: 5vh;
}

.byline {
  text-align: center;
}

.event .date,
.event .time,
.event .title,
.event .dorm,
.event .location {
  font-weight: bold;
}

.day-title,
.fpop-title,
.post-title {
  background-color: #e0e0e0;
  display: block;
  padding: 10px;
  margin-top: 10px;
}

.id {
  display: none;
}

.event {
  display: block;
  width: auto;
  margin: 10px 10px;
  border: 1px solid;
  border-radius: 10px;
  padding: 6px;
  /* sports, it's in the game */
  background-color: #eaeaea;
  text-align: left;
  break-inside: avoid;
}

.tag-mandatory {
  border: 3px solid;
  border-radius: 10px;
  background-color: #ffffff;
}

.tag-signature {
  border: 5px dotted;
  border-radius: 10px;
}

.fpop {
  break-before: page;
  break-after: page;
  display: block;
  width: auto;
  margin: 10px 10px;
  border: 4px dashed;
  border-radius: 15px;
  padding: 6px;
  text-align: center;
}

.fpop-title {
  text-align: center;
}

.post {
  break-before: page;
  display: block;
  width: auto;
  margin: 5px 10px;
  border: 4px dashed;
  border-radius: 15px;
  padding: 6px;
  text-align: center;
}

.fpop-title,
.post-title {
  font-size: 24pt;
  font-weight: bold;
}

.day-title {
  font-weight: bold;
  font-size: 14pt;
}

.credit {
  display: none;
  font-style: italic;
  text-align: center;
}

@media print {
  body {
    font-size: 16pt;
  }

  .qrcode {
    width: 50vw;
  }

  .day-title,
  .fpop-title,
  .post-title {
    font-size: 24pt;
    break-after: avoid;
    break-before: avoid;
    break-inside: avoid;
  }

  .main-title {
    font-size: 72pt;
  }

  .main-body {
    font-size: 24pt;
  }

  .byline {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0;
  }

  .credit {
    display: block;
  }

  .event {
    /* necessary to not have the top border show up on the previous page */
    transform: translateY(2px);
  }

  #booklet-info {
    font-size: 16pt;
  }

  /* style all links as unvisited */
  a {
    color: #00e;
  }
}

@page {
  size: A3 portrait;
  margin: 0.5in;
}

.center {
  text-align: center;
}

.italic {
  font-style: italic;
}