openapi: 3.1.0

info:
  title: T-REX
  summary: The DormCon REX API!
  description:
    This API hosts the structured data and information for the [REX Events
    page](https://dormcon.mit.edu/rex/events). Feel free to use it for your own
    purposes! The structure of the JSON is documented as `TRexAPIResponse` in
    [types.ts](https://github.com/mit-dormcon/website/blob/main/components/t-rex/types.ts)
    in the main DormCon website repository.
  version: 2025.0.0
  contact:
    name: DormCon Tech Chair
    email: dormcon-tech-chair@mit.edu

tags:
  - name: Raw Data
    description: Returns raw REX data without filtering or narrowing.
    x-displayName: Raw Data

servers:
  - url: https://rex.mit.edu

externalDocs:
  description: Documentation on DormCon site
  url: https://dormcon.mit.edu/about/rex

jsonSchemaDialect: https://spec.openapis.org/oas/3.1/dialect/base

paths:
  /api.json:
    get:
      summary: All REX Event data
      description:
        Returns a JSON object with all REX data. This includes data about the
        REX API, a list of all events, and more.
      tags:
        - Raw Data
      responses:
        "200":
          description: Successful request!
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  published:
                    type: string
                    format: "date-time"
                  events:
                    type: array
                    items:
                      $ref: "#/components/schemas/Event"
                  dorms:
                    type: array
                    items:
                      type: string
                  tags:
                    type: array
                    items:
                      type: string
                  colors:
                    $ref: "#/components/schemas/ColorConfig"
                required:
                  - name
                  - published
                  - events
                  - dorms
                  - tags
                  - colors

components:
  schemas:
    Event:
      type: object
      properties:
        name:
          type: string
        dorm:
          type: array
          items:
            type: string
        location:
          type: string
        start:
          type: string
          format: "date-time"
        end:
          type: string
          format: "date-time"
        description:
          type: string
        tags:
          type: array
          items:
            type: string
        group:
          type:
            - "string"
            - "null"
      required:
        - name
        - dorm
        - location
        - start
        - end
        - description
        - tags
        - group

    ColorConfig:
      type: object
      properties:
        dorms:
          type: object
          additionalProperties:
            type: string
            pattern: "^#[0-9a-fA-F]{6}$"
        tags:
          type: object
          additionalProperties:
            type: string
            pattern: "^#[0-9a-fA-F]{6}$"
      required:
        - dorms
        - tags
