<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ name }} Event Errors</title>
    <meta
      name="description"
      content="This website contains errors found when processing {{ name }} events."
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.3/new.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <style>
      :root {
        --nc-font-sans:
          "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
          "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      }
    </style>
  </head>
  <body>
    <header>
      <h1>{{ name }} Event Errors</h1>
    </header>
    <nav>
      <a href="./index.html"><em>Back to main page</em></a>
    </nav>
    <main>
      <blockquote>
        The following is a list of all errors found when processing {{ name }}
        events. If there are any issues, please reach out to
        <a href="mailto:dormcon-rex-chairs@mit.edu"
          >dormcon-rex-chairs@mit.edu</a
        >.
      </blockquote>
      {% for error_group, (contact_emails, list_of_errors) in errors.items() %}
        <section>
          <h2>{{ error_group }}</h2>
          <p>The following {{ error_group }} events have errors:</p>
          <ul>
            {% for error in list_of_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
          <p>
            If you have any questions or concerns, please reach out to
            <a href="mailto:{{ contact_emails|join("','") }}"
              >{{ contact_emails|join(", ") }}</a
            >.
          </p>
        </section>
      {% endfor %}
    </main>
  </body>
</html>
