<!doctype html>
<html>
  <head>
    <title>DormCon Guide for {{ api.name }}</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="static/guide-bw.css" />
	{# TODO: figure out what font to put here #}
    <script src="https://use.fontawesome.com/e6eb89a5f7.js"></script>
  </head>
    <body>
      {% include "guide_fm.html" %}
      <div class="tours">
      <br/>
      <span class="day-title">Residence Hall Tours</span>
      <br/>
      <br/>
      {% for event in by_dates.tours %}
      <div class="event">
	<span class="title">{{event.name}}</span>
	  <span class="dorm">@ {{event.display_group}}</span>
	{% if event.location %}
	  <span class="location">({{event.location}}):</span>
	{% endif %}
	  <span class="description">{{event.description}}</span>
      </div>
      {% endfor %}
      </div>

      <div class="fpop">
      <span class="fpop-title">FPOP Week Events</span>
      <br/><br/>
      During the week before REX begins, FPOPs are happening on campus. If you happen to be around in the afternoon after your FPOP ends, feel free to drop by one of the events below!
      {% for day in dates.before %}
	<br/>
	<span class="day-title">{{ day.strftime("%A %D") }}</span>
	<br/>
	{% for key, events in by_dates.items() %}
          {% if key == day %}
            {% for event in events %}
	      <div class="event">
	      {% if event.is_mandatory %}<table class="mandatory"><tr><td>{% endif %}
	      {% if event.is_favorite %}<table class="favorite"><tr><td>{% endif %}
		<span class="id">{{event.id}}</span>
		{% if not event.is_tour %}<span class="date">{{event.weekday}}</span>
		<span class="time">
		{% if event.allday %}
		  {% if not event.noend %}
		    all day
		  {% endif %}
		{% else %}
		  {{event.starttime.time}}
		  {% if not event.noend %}
		    -{{event.endtime.time}}
		  {% endif %}
		{% endif %}
		</span>{% endif %}
                {% if event.is_food %}<i class="fa fa-cutlery"></i> {% endif %}
		<span class="title">{{event.name}}</span>
		{% if event.display_group != 'Orientation' %}
		  <span class="dorm">@ {{event.display_group}}</span>
		{% endif %}
		{% if event.location %}
		  <span class="location">({{event.location}}){% if not event.empty_description %}:{% endif%}</span>
		{% endif %}
		  <span class="description">{{event.description}}</span>
	      {% if event.is_mandatory %}</td></tr></table>{% endif %}
	      {% if event.is_favorite %}</td></tr></table>{% endif %}
	      </div>
            {% endfor %}
          {% endif %}
	{% endfor %}
      {% endfor %}
      </div>

      {% for day in dates.rex %}
        <div class="page">
	<span class="day-title">{{ day.strftime("%A %D") }}</span>
	<br/><br/>
	{% for key, events in by_dates.items() %}
          {% if key == day %}
            {% for event in events %}
	      <div class="event">
	      {% if event.is_mandatory %}<table class="mandatory"><tr><td>{% endif %}
	      {% if event.is_favorite %}<table class="favorite"><tr><td>{% endif %}
		<span class="id">{{event.id}}</span>
		{% if not event.is_tour %}<span class="date">{{event.weekday}}</span>
		<span class="time">
		{% if event.allday %}
		  {% if not event.noend %}
		    all day
		  {% endif %}
		{% else %}
		  {{event.starttime.time}}
		  {% if not event.noend %}
		    -{{event.endtime.time}}
		  {% endif %}
		{% endif %}
		</span>{% endif %}
                {% if event.is_food %}<i class="fa fa-cutlery"></i> {% endif %}
		<span class="title">{{event.name}}</span>
		{% if event.display_group != 'Orientation' %}
		  <span class="dorm">@ {{event.display_group}}</span>
		{% endif %}
		{% if event.location %}
		  <span class="location">({{event.location}}){% if not event.empty_description %}:{% endif%}</span>
		{% endif %}
                {% if event.description %}
		  <span class="description">{{event.description}}</span>
                {% endif %}
	      {% if event.is_mandatory %}</td></tr></table>{% endif %}
	      {% if event.is_favorite %}</td></tr></table>{% endif %}
	      </div>
            {% endfor %}
          {% endif %}
	{% endfor %}
        </div>
      {% endfor %}

      <div class="post">
      <span class="post-title">Post-REX Events</span>
      <br/><br/>
Still can't get enough of our awesome dorms? Well, move into your new room first, but then stop by any of these events for more fun times! 
      {% for day in dates.after %}
        <br/>
	<span class="day-title">{{ day.strftime("%A %D") }}</span>
	<br/><br/>
	{% for key, events in by_dates.items() %}
          {% if key == day %}
            {% for event in events %}
	      <div class="event">
	      {% if event.is_mandatory %}<table class="mandatory"><tr><td>{% endif %}
	      {% if event.is_favorite %}<table class="favorite"><tr><td>{% endif %}
	      {% if event.is_housing %}<table class="housing"><tr><td>{% endif %}
		<span class="id">{{event.id}}</span>
		{% if not event.is_tour %}<span class="date">{{event.weekday}}</span>
		<span class="time">
		{% if event.allday %}
		  {% if not event.noend %}
		    all day
		  {% endif %}
		{% else %}
		  {{event.starttime.time}}
		  {% if not event.noend %}
		    -{{event.endtime.time}}
		  {% endif %}
		{% endif %}
		</span>{% endif %}
                {% if event.is_food %}<i class="fa fa-cutlery"></i> {% endif %}
		<span class="title">{{event.name}}</span>
		{% if event.display_group != 'Orientation' %}
		  <span class="dorm">@ {{event.display_group}}</span>
		{% endif %}
		{% if event.location %}
		  <span class="location">({{event.location}}){% if not event.empty_description %}:{% endif%}</span>
		{% endif %}
		  <span class="description">{{event.description}}</span>
	      {% if event.is_mandatory %}</td></tr></table>{% endif %}
	      {% if event.is_favorite %}</td></tr></table>{% endif %}
	      {% if event.is_housing %}</td></tr></table>{% endif %}
	      </div>
            {% endfor %}
          {% endif %}
	{% endfor %}
      {% endfor %}
      </div>
</body>
</html>
