{% macro event_box(event) %}
<div class="event {% if 'mandatory' in event.tags %}mandatory {% endif %}{% if 'favorite' in event.tags %}favorite {% endif %}">
    <span class="id">{{event.id}}</span>
    <span class="date">{{ format_date(event.start, event.end) }}</span>
    &middot;

    {% if 'food' in event.tags %}<i class="fa fa-cutlery"></i> {% endif %}

    <span class="title">{{event.name}}</span>

    {% if event.dorm != 'Orientation' %}
        <span class="dorm">@ {{event.dorm}}</span>
    {% endif %}

    {% if event.location %}
    <span class="location">({{event.location}})</span>
    {% endif %}
    &middot;
    <span class="description">{{event.description}}</span>
</div>
{% endmacro %}